In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("~/desktop/uav_flood_analysis/Data/2021_Rollins5_TAMU/G2F_stand_counts.csv")
data

,unique plot id for FB,Primary order FB,Secondary order FB,Pedigree,02JuneStandCount,20AugPost Flood Count
0,1,1,1,Fill/HB,38,0
1,2,2,1,Fill/HB,50,0
2,3,3,1,Fill/HB,50,0
3,4,4,1,Fill/HB,50,0
4,5,5,1,Fill/HB,50,0
...,...,...,...,...,...,...
499,500,500,22,B14A/MO17,49,19
500,501,501,22,W10004_0129/PHK76,50,9
501,502,502,22,W10004_0601/PHK76,50,16
502,503,503,22,W10004_0076/PHK76,50,26
503,504,504,22,W10004_0800/PHK76,50,15

In [3]:
data = data[['Pedigree','02JuneStandCount']]
data

              Pedigree  02JuneStandCount
0              Fill/HB                38
1              Fill/HB                50
2              Fill/HB                50
3              Fill/HB                50
4              Fill/HB                50
..                 ...               ...
499          B14A/MO17                49
500  W10004_0129/PHK76                50
501  W10004_0601/PHK76                50
502  W10004_0076/PHK76                50
503  W10004_0800/PHK76                50

[504 rows x 2 columns]

In [4]:
df = pd.DataFrame(data)
df = df[df['Pedigree']!='Fill/HB']
df = df.rename(columns={'Pedigree': 'taxa', '02JuneStandCount': 'data'})
df.loc[1] = ['taxa','data']
df.index = df.index + 1
df = df.sort_index()
print(df)

                  taxa  data
2                 taxa  data
7    W10004_0290/PHK76    49
8    W10004_0498/PHK76    36
11   W10004_0884/PHK76    50
12   W10004_0037/PHK76    36
..                 ...   ...
500          B14A/MO17    49
501  W10004_0129/PHK76    50
502  W10004_0601/PHK76    50
503  W10004_0076/PHK76    50
504  W10004_0800/PHK76    50

[491 rows x 2 columns]

In [5]:
df.loc[1] = ['<phenotype>', '']
df.index = df.index + 1
df = df.sort_index()
print(df)

                  taxa  data
2          <phenotype>
3                 taxa  data
8    W10004_0290/PHK76    49
9    W10004_0498/PHK76    36
12   W10004_0884/PHK76    50
..                 ...   ...
501          B14A/MO17    49
502  W10004_0129/PHK76    50
503  W10004_0601/PHK76    50
504  W10004_0076/PHK76    50
505  W10004_0800/PHK76    50

[492 rows x 2 columns]

In [6]:
df.to_csv('210602_sc.txt', sep='\t', index=False)